
<table>

    <thead>
        <tr>
            <th>Area Name</th>
            <th>Hourly Inexperienced</th>
            <th>Hourly Median</th>
            <th>Annual Inexperienced</th>
            <th>Annual Median</th>
            <th>On the job Training</th>
            <th>Education</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        <!-- ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">Cache</td>
            <td class="ng-binding">$17.80</td>
            <td class="ng-binding">$39.64</td>
            <td class="ng-binding">$37,020</td>
            <td class="ng-binding">$82,440</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">Eastern Utah</td>
            <td class="ng-binding">$15.48</td>
            <td class="ng-binding">$25.02</td>
            <td class="ng-binding">$32,190</td>
            <td class="ng-binding">$52,050</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">Ogden-Clearfield Metro</td>
            <td class="ng-binding">$18.40</td>
            <td class="ng-binding">$29.15</td>
            <td class="ng-binding">$38,280</td>
            <td class="ng-binding">$60,630</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">Provo-Orem Metro</td>
            <td class="ng-binding">$13.28</td>
            <td class="ng-binding">$24.10</td>
            <td class="ng-binding">$27,620</td>
            <td class="ng-binding">$50,120</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">Salt Lake Metro</td>
            <td class="ng-binding">$15.25</td>
            <td class="ng-binding">$32.88</td>
            <td class="ng-binding">$31,720</td>
            <td class="ng-binding">$68,390</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">St George Metro</td>
            <td class="ng-binding">$11.65</td>
            <td class="ng-binding">$22.98</td>
            <td class="ng-binding">$24,240</td>
            <td class="ng-binding">$47,800</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">Statewide</td>
            <td class="ng-binding">$14.26</td>
            <td class="ng-binding">$29.49</td>
            <td class="ng-binding">$29,650</td>
            <td class="ng-binding">$61,330</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage --><tr ng-repeat="wage in occwage" class="ng-scope">
            <td class="ng-binding">United States</td>
            <td class="ng-binding">$22.40</td>
            <td class="ng-binding">$37.78</td>
            <td class="ng-binding">$46,600</td>
            <td class="ng-binding">$78,580</td>
            <td class="ng-binding">None</td>
            <td class="ng-binding">Associate's degree</td>
            <td class="ng-binding">None</td>
            
        </tr><!-- end ngRepeat: wage in occwage -->
    </tbody>
    
    
</table>